.app {
  display: block;
  margin-bottom: 40px;

  .app-image {
    width: 300px;
    margin: auto;
    position: relative;

    img {
      padding-right: 50px;
      transform: translate(50%, 15%);
      max-width: 100%;
    }
  }

  .col-lg-10 {
    margin-left: -60px !important;
  }
}