.btn {
  display: inline-block;
  background-color: #ffffff;
  position: relative;

  &.btn-circle {
    width: $btn-circle-size;
    height: $btn-circle-size;
    border-radius: 50%;
    border: 1px solid $primary-dark-color;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      border-color: $text-color-primary;
      transition: all $transition-fast-speed ease-in-out;

      svg {
        color: $text-color-primary;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 60%;
      color: $primary-color;
    }
  }

  &.btn-primary {
    text-decoration: none;
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border: 1px solid $primary-color;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      background-color: $text-color-primary;
      color: $primary-color;
      transition: all $transition-fast-speed ease-in-out;
    }
  }
}