.card {
  max-width: 500px;

  .card-title {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: -20px;
    }
  }

  .card-describe {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .card-list {
    margin: 20px 0px;

    .col-lg-2 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .col-lg-10 {
      margin-left: -30px;
    }

    &:hover .card-list-link {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      cursor: pointer;
      transition: $transition-fast-speed ease-in-out;
      font-weight: 600;
    }

    .card-list-icon {
      width: $svg-size;
      height: $svg-size;
      color: $primary-color;
    }

    .card-list-text {
      font-weight: 200;
      font-size: 1rem;
      margin-left: 10px;
    }

    .card-list-link {
      font-weight: 200;
      font-size: 1rem;
      margin-left: 10px;
      text-transform: capitalize;
      text-decoration: none;
      outline: none;
      color: inherit;
    }
  }
}