.hero {
  .banner {

    height: 600px;
    position: relative;

    .banner-bg-image {
      background-image: url(../../../images/banner-bg.jpg);
      clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: -100;
      background-attachment: fixed;
    }

    .heading-primary-text {
      text-align: center;
      user-select: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .banner-main-text {
        text-transform: uppercase;
        letter-spacing: 40px;
        font-weight: 200;
        color: $text-color-primary;
        font-size: $main-text-fontsize;
      }

      .banner-slogan {
        color: $text-color-primary;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-top: -20px;
        font-size: $sub-text-fontsize;
      }

    }

    .btn-circle {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}