*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  .container-fluid {
    margin: 0;
    max-width: 100%; }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container .col-sm-1 {
    flex-basis: 8.33333%; }
  .container .col-sm-2 {
    flex-basis: 16.66667%; }
  .container .col-sm-3 {
    flex-basis: 25%; }
  .container .col-sm-4 {
    flex-basis: 33.33333%; }
  .container .col-sm-5 {
    flex-basis: 41.66667%; }
  .container .col-sm-6 {
    flex-basis: 50%; }
  .container .col-sm-7 {
    flex-basis: 58.33333%; }
  .container .col-sm-8 {
    flex-basis: 66.66667%; }
  .container .col-sm-9 {
    flex-basis: 75%; }
  .container .col-sm-10 {
    flex-basis: 83.33333%; }
  .container .col-sm-11 {
    flex-basis: 91.66667%; }
  .container .col-sm-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 768px) {
    .container .col-md-1 {
      flex-basis: 8.33333%; }
    .container .col-md-2 {
      flex-basis: 16.66667%; }
    .container .col-md-3 {
      flex-basis: 25%; }
    .container .col-md-4 {
      flex-basis: 33.33333%; }
    .container .col-md-5 {
      flex-basis: 41.66667%; }
    .container .col-md-6 {
      flex-basis: 50%; }
    .container .col-md-7 {
      flex-basis: 58.33333%; }
    .container .col-md-8 {
      flex-basis: 66.66667%; }
    .container .col-md-9 {
      flex-basis: 75%; }
    .container .col-md-10 {
      flex-basis: 83.33333%; }
    .container .col-md-11 {
      flex-basis: 91.66667%; }
    .container .col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container .col-lg-1 {
      flex-basis: 8.33333%; }
    .container .col-lg-2 {
      flex-basis: 16.66667%; }
    .container .col-lg-3 {
      flex-basis: 25%; }
    .container .col-lg-4 {
      flex-basis: 33.33333%; }
    .container .col-lg-5 {
      flex-basis: 41.66667%; }
    .container .col-lg-6 {
      flex-basis: 50%; }
    .container .col-lg-7 {
      flex-basis: 58.33333%; }
    .container .col-lg-8 {
      flex-basis: 66.66667%; }
    .container .col-lg-9 {
      flex-basis: 75%; }
    .container .col-lg-10 {
      flex-basis: 83.33333%; }
    .container .col-lg-11 {
      flex-basis: 91.66667%; }
    .container .col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container .col-xl-1 {
      flex-basis: 8.33333%; }
    .container .col-xl-2 {
      flex-basis: 16.66667%; }
    .container .col-xl-3 {
      flex-basis: 25%; }
    .container .col-xl-4 {
      flex-basis: 33.33333%; }
    .container .col-xl-5 {
      flex-basis: 41.66667%; }
    .container .col-xl-6 {
      flex-basis: 50%; }
    .container .col-xl-7 {
      flex-basis: 58.33333%; }
    .container .col-xl-8 {
      flex-basis: 66.66667%; }
    .container .col-xl-9 {
      flex-basis: 75%; }
    .container .col-xl-10 {
      flex-basis: 83.33333%; }
    .container .col-xl-11 {
      flex-basis: 91.66667%; }
    .container .col-xl-12 {
      flex-basis: 100%; } }

@media screen and (min-width: 576px) {
  .container {
    max-width: 90%; } }

@media screen and (min-width: 768px) {
  .container {
    max-width: 80%; } }

@media screen and (min-width: 992px) {
  .container {
    max-width: 80%; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 80%; } }

.btn {
  display: inline-block;
  background-color: #ffffff;
  position: relative; }
  .btn.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    outline: none; }
    .btn.btn-circle:hover {
      cursor: pointer;
      background-color: #76BA1B;
      border-color: #ffffff;
      transition: all 200ms ease-in-out; }
      .btn.btn-circle:hover svg {
        color: #ffffff; }
    .btn.btn-circle svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 60%;
      color: #76BA1B; }

.header {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.2); }
  .header .logo a {
    text-decoration: none;
    color: #ffffff; }
    .header .logo a:hover {
      color: #76BA1B;
      transition: color 300ms ease-in-out; }
  .header .main-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    flex-wrap: wrap; }
    .header .main-nav li {
      list-style-type: none; }
      .header .main-nav li a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 20px;
        position: relative;
        font-weight: 400;
        letter-spacing: 2px; }
        .header .main-nav li a:hover {
          color: #76BA1B;
          transition: all 300ms ease-in-out; }
        .header .main-nav li a:active {
          color: #76BA1B; }
      .header .main-nav li .active {
        color: #76BA1B; }
      .header .main-nav li svg {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%); }

.hero .banner {
  height: 600px;
  position: relative; }
  .hero .banner .banner-bg-image {
    background-image: url(../../../images/banner-bg.jpg);
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -100;
    background-attachment: fixed; }
  .hero .banner .heading-primary-text {
    text-align: center;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero .banner .heading-primary-text .banner-main-text {
      text-transform: uppercase;
      letter-spacing: 40px;
      font-weight: 200;
      color: #ffffff;
      font-size: 8rem; }
    .hero .banner .heading-primary-text .banner-slogan {
      color: #ffffff;
      letter-spacing: 8px;
      text-transform: uppercase;
      margin-top: -20px;
      font-size: 1.2rem; }
  .hero .banner .btn-circle {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0%); }

.about {
  padding: 40px 0px; }
  .about .about-card {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    padding: 10px; }
    .about .about-card .about-icon {
      width: 40px;
      height: 40px;
      position: relative;
      margin-bottom: 30px; }
      .about .about-card .about-icon svg {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #76BA1B; }
    .about .about-card .about-title {
      text-transform: capitalize;
      font-size: 2rem;
      font-weight: 700; }
    .about .about-card .about-details {
      text-align: justify;
      font-weight: 300; }

.showcase-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 30px 20px;
  margin-top: 10px; }
  .showcase-gallery .gallery-item {
    position: relative;
    flex: 1 0 20rem;
    margin: 5px;
    color: #fff;
    cursor: pointer; }
    .showcase-gallery .gallery-item .showcase-gallery-image {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.app {
  display: block; }
  .app .app-image {
    width: 300px;
    margin: auto;
    position: relative; }
    .app .app-image img {
      padding-right: 50px;
      transform: translate(50%, 15%);
      max-width: 100%; }

.primary-heading-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: -10px; }

.sub-heading-title {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 200; }

.card {
  max-width: 500px; }
  .card .card-title {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative; }
    .card .card-title::before {
      content: "";
      width: 4px;
      height: 100%;
      background-color: #76BA1B;
      position: absolute;
      top: 0;
      left: -20px; }
  .card .card-describe {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 10px 0; }
  .card .card-list:hover .card-list-icon {
    transform: scale(1.2);
    border: 1px solid #76BA1B;
    border-radius: 50%; }
  .card .card-list:hover .card-list-text,
  .card .card-list:hover .card-list-link {
    color: #76BA1B;
    border-bottom: 1px solid #76BA1B;
    cursor: pointer;
    transition: 200ms ease-in-out;
    font-weight: 600; }
  .card .card-list .card-list-icon {
    width: 15px;
    height: 15px;
    color: #76BA1B; }
  .card .card-list .card-list-text {
    font-weight: 200;
    font-size: 1.2rem;
    margin-left: 10px;
    text-transform: capitalize; }
  .card .card-list .card-list-link {
    font-weight: 200;
    font-size: 1.2rem;
    margin-left: 10px;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    color: inherit; }
