// Width, Height, Size
$max-width: 114rem;

$gutter-vertical: 8rem; // margin bottom giữa các row
$gutter-horizontal: 6rem; // giá trị khoảng cách giữa các column

$btn-circle-size: 50px;
$svg-size: 15px;
$card-svg-size: 40px;

// Break Points
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;

// Grid columns
$grid__cols: 12;

// Colors
$primary-color: #bbd87b;
$primary-dark-color: #7b7b7b;
$text-color-primary: #ffffff;
$text-hover-color: #bbd87b;
$card-svg-primary-color: #bbd87b;
// Transition
$transition-slow-speed: 300ms;
$transition-fast-speed: 200ms;

// Margin, padding
$margin-medium: 10px;
$margin-large: 20px;

$padding-medium: 10px;
$padding-large: 20px;

// Fonts size
$main-text-fontsize: 8rem;
$sub-text-fontsize: 1.2rem;