:root {
  --nav-text-color: #ffffff;
  --nav-bg-color: #333333;
  --nav-border-color: #ffffff;
  --padding: 0.5rem;
}

.header.container {
  justify-content: space-between;
}

.header {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  border: 1px solid var(--nav-border-color);
  background-color: var(--nav-bg-color);
  opacity: 0.2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h2,
  h3,
  a {
    color: var(--nav-text-color);
  }

  a {
    text-decoration: none;
  }

  .logo {
    margin: 0;
    font-size: 1.45em;
  }

  .main-nav {
    margin-top: 5px;
    float: right;
  }
  .logo a,
  .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  .main-nav a {
    color: var(--nav-text-color);
    font-size: 0.99em;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .main-nav a:hover {
    color: #2c7873;
  }
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
